services:
  warp:
    image: scientificworld/warp
    container_name: warp
    restart: always
    ports:
      - '1080:1080'
      - '80:80'
      - '443:443'
    environment:
      - WARP_SLEEP=2
      # - WARP_LICENSE_KEY= # optional
      # - WARP_CUSTOM_ENDPOINT=162.159.192.8:2408
      # - DO_NOT_CREATE_TUN_DEVICE=true
    cap_add:
      - NET_ADMIN
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv4.conf.all.src_valid_mark=1
    volumes:
      - ./data:/var/lib/cloudflare-warp
      # - /dev/net/tun:/dev/net/tun
